.button-menu {
    display: grid;
    grid-template-areas:
    "ac plus-minus percent division"
    "seven eight nine multi"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 7px;
    justify-items: center;
}